#sign-in-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    /* margin: auto; */
    row-gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    .sign_in_button {
        .MuiButton-root {
            color: black;
            border-color: black;
        }
    }
    .register_button {
        .MuiButton-root {
            color: black;
        }
    }
}
